<% flat = data.flats[owner] %>

<body>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/tokyo'); height: 50vh; background-position: center;">
</div>

<div class="container">
<div class="row">
<%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle" %>
  <p><%= flat.name %></p>
  <h1><%= flat.description %></h1>
  <p><%= flat.city_name %></p>
</div>
</div>


</body>
