---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Welcome!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
      <%= link_to "Home Page", "home.html", class: 'btn btn-danger btn-lg' %>
      <%= link_to "Flats", "flats.html", class: 'btn btn-success btn-lg' %>
  </div>
</div>
